/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 
/// 

body{
  background: #1E1E1E;
}

#home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

  .song-preview-card {
    margin: 30px 16px;
    background-color: #9296C4;
    width: 100%;
    height: 100%;
    max-width: 413px;
    max-height: 607px;
    border-radius: 24px;
    padding: 16px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0%, -55%);

    @media (max-width: 834px){
      width: 343px;
      height: 537px;
    }
    

    .song-preview-card__time{
      display: flex;
      flex-direction: row;
      align-items: center;

      .song-preview-card__time-icon-container{
        position: relative;
        right: 5px;
        top: 2px;
      }
    }

    .song-preview-card__image-container {
      position: relative;
      border-radius: 16px;
      width: 100%;
      height: 381px;
      overflow: hidden;

      @media (max-width: 834px){
        height: 311px;
      }
    }

    .line_one{
      position: relative;
      width: 349px;
      height: 0px;
      top: 6px;
      opacity: 0.2;
      border: 1.5px solid #FFFFFF;
      margin: 25px 0;

      @media (max-width: 834px){
        width: 279px;
      }
    }

    .song-preview-card__content {
      margin-top: 7px;
      padding: 16px;

    }

    .song-preview-card__title {
      font-size: 24px;
      line-height: 1.4em;
      font-weight: 700;

    }

    .song-preview-card__artist-and-time {
      margin-top: 11px;
      width: 100%;
      font-weight: 400;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    .song-preview-card__album-cover-and-info{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .song-preview-card__album-cover-container{
      position: relative;

      left: 2px;
      top: 5px;
      border-radius: 20px;
      
    }

    .song-preview-card__album-cover-container img{
      border-radius: 20px;
      width: 40px;
      height: 40px;
    }


    .song-preview-card__album-info-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px;

      position: relative;
      width: 276px;
      height: 25px;
      left: 28px;
      top: 2px;

      @media (max-width: 834px){
        font-size: 14px;
        left: 15px;
        top: 5px;
      }


    }
  }